*venv
*/venv
*virt_env
*/virt_env
*virtenv
*/virtenv

*.ipynb_checkpoints
*/.ipynb_checkpoints
*.virtual_documents
*/.virtual_documents

*.ruff_cache
*.mypy_cache
*.jupyter
*/.jupyter
*.ipython
*/.ipython
*jupyter-ai-logs
*/jupyter-ai-logs
